body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

header {
  background: green;
  color: white;
  padding: 15px;
}

.galeria img {
  margin: 5px;
  border-radius: 8px;
}

.whats {
  display: inline-block;
  background: #25d366;
  color: white;
  padding: 15px;
  text-decoration: none;
  margin: 20px;
  border-radius: 5px;
}
